################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CommonModules.egg-info
*.pyc
/LogFile.log
/.vs/CommonModules/v14/.suo
/.vs/config/applicationhost.config
/CommonModules.sln
/gh-pages/
/documentation
/dist
*.suo
/docs/_build
/build/
/metastore_db/
